
<div class="container mt-2">
  <div class="card" *ngIf="customers">
    <div class="card-header">
      Customers liste
    </div>
    <div class="card-body">
      <table class="table table-responsive table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>NOM</th>
            <th>EMAIL</th>
            <th>ACTIONS</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let customer of customers">
            <td>{{customer.id}}</td>
            <td>{{customer.nom}}</td>
            <td>{{customer.email}}</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
