<div class="container mt-2">
  <div class="row" *ngIf="errorMessage">
    <div class="col alert alert-danger" role="alert">
      {{errorMessage}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Accounts
        </div>
        <div class="card-body">
          <form [formGroup]="accountFormGroup" (ngSubmit)="handleSearchAccount()">
            <div class="input-group">
              <label class="input-group-text">Account ID :</label>
              <input type="text" formControlName="accountId" class="form-control"/>
              <button class="btn btn-info">
                <span class="bi bi-search"></span>
                Search
              </button>
            </div>
          </form>
          <ng-template #errorTemplate>
            <ng-container *ngIf="errorMessage; else loading">
              <div class="text-danger">{{errorMessage}}</div>
            </ng-container>
          </ng-template>
          <ng-template #loading>
            <ng-container>
              Loading ...
            </ng-container>
          </ng-template>
          <ng-container *ngIf="accountObservable | async as accountDetails; else errorTemplate">
            <div class="mb-2">
              <label>Account ID :</label>
              <label><b>{{accountDetails.accountId}}</b></label>
            </div>
            <div class="mb-2">
              <label>Balance :</label>
              <label><b>{{accountDetails.balance | number: '1.2-2'}}</b></label>
            </div>
            <table class="table table-responsive">
              <thead>
                <th>ID</th>
                <th>Date</th>
                <th>Type</th>
                <th>Amount</th>
              </thead>
              <tbody>
                <tr *ngFor="let op of accountDetails.accountOperationDTOS">
                  <td>{{op.id}}</td>
                  <td>{{op.operationDate | date : 'dd-MM-yyyy'}}</td>
                  <td>{{op.type}}</td>
                  <td class="text-end">{{op.amount | number : '1.2-2'}}</td>
                </tr>
              </tbody>
            </table>
            <ul class="nav nav-pills">
              <li *ngFor="let item of [].constructor(accountDetails.totalPages); let page = index">
                <a [ngClass]="page == currentPage? 'btn-info':'btn-outline-info'" (click)="gotoPage(page)" class="btn ms-1 mt-1">{{page}}</a>
              </li>
            </ul>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card" *ngIf="accountObservable">
        <div class="card-header">Operations</div>
        <div class="card-body">
          <form [formGroup]="operationFormGroup" (ngSubmit)="handleAccountOperation()">
            <div class="form-check form-check-inline">
              <label class="form-check-label" for="debit">: DEBIT</label>
              <input id="debit" name="operationType" value="DEBIT" class="form-check-input" type="radio" formControlName="operationType">
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label" for="credit">: CREDIT</label>
              <input id="credit" name="operationType" value="CREDIT" class="form-check-input" type="radio" formControlName="operationType">
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label" for="transfert">: TRANSFERT</label>
              <input id="transfert" name="operationType" value="TRANSFER" class="form-check-input" type="radio" formControlName="operationType">
            </div>
            <div class="mb-3" *ngIf="operationFormGroup.value.operationType == 'TRANSFER'">
              <label class="form-label" for="accountDestination">Account destination</label>
              <input type="text" formControlName="accountDestination" class="form-control" id="accountDestination">
            </div>
            <div class="mb-3">
              <label class="form-label" for="amount">Amount</label>
              <input type="text" formControlName="amount" class="form-control" id="amount">
            </div>
            <div class="mb-3">
              <label class="form-label" for="description">Description</label>
              <input type="text" formControlName="description" class="form-control" id="description">
            </div>
            <div class="d-grid mb-3">
              <button class="btn btn-success">Save operation</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
